<p>
  <h1><%= @category.name %></h1>
</p>

<p>
  <div class="border_box">
    <%= raw @category.description %>
  </div>
</p>
<br />

<table>
<% @category.children.each do |elem| %>
  <tr>
    <td><%= link_to elem.name, elem %></td>
  </tr>
<% end %>
</table>



<table>
  <tr>
    <td>
      <% if !@category.products.blank? %>
        <%= render @category.products %>
      <% end %>

<% if can? :create, @product %>
  <%= link_to t(:add_product) + " " + @category.name, new_category_product_path(@category) %>
<% end %>
    </td>
    <td width="200px">
      <% if !@category.products.blank? %>
      <div class="round fone_round">
        где купить <%= @category.name.downcase! %>:<br /><br />
        <% @companies.each do |company| %>
          <%= link_to company.name, company %><br />
          <%= raw company.contacts %><br />
        <% end %>
      </div>
      <% end %>
    </td>
  </tr>
</table>

<% if !@category.content.blank? %>
  <p>
    <div class="border_box">
      <%= raw @category.content %>
    </div>
  </p>
  <br />
<% end %>


<% if can? :update, @category %>
  <%= link_to t(:edit), edit_category_path(@category) %> |
<% end %>

<% if can? :destroy, @category %>
  <%= link_to t(:delete), @category, confirm: 'Вы уверены?', method: :delete %> |
<% end %>

<%= link_to t(:back), categories_path %>