<%= javascript_include_tag "javascripts/ckeditor/ckeditor.js" %>

<%= form_for([@category, @product], :html => {:multipart => true}) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pagetitle %><br />
    <%= f.text_field :pagetitle %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.cktext_area :description %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.cktext_area :content %>
  </div>
  <div class="field">
    <%= f.label :price_from %><br />
    <%= f.number_field :price_from %>
  </div>
  <div class="field">
    <%= f.label :price_to %><br />
    <%= f.number_field :price_to %>
  </div>

  <%= f.fields_for :photos do |builder| %>
    <% if builder.object.new_record? %>
      <div class="field">
        <%= builder.label :data %><br />
        <%= builder.file_field :data %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
