  <p><%= link_to product.name, [product.category, product] %></p>
  <p><span class="price"><%= product.price_from %> - <%= product.price_to %> $</span></p>
  <p>
    <% if (!product.photos.blank?) %>
      <%= image_tag product.photos.first.data(:medium) %>
    <% end %>
  </p>

  <p><%= raw product.description %></p>
  <br />