<p>
  <h1><%= @product.name %></h1>
</p>

<p>
  <%= raw @product.description %>
</p>
<br />

<p>
  <b>Price from:</b>
  <%= @product.price_from %>
</p>

<p>
  <b>Price to:</b>
  <%= @product.price_to %>
</p>
<br />

<p>
  <%= raw @product.content %>
</p>
<br />

<% if can? :update, @product %>
  <%= link_to t(:edit), edit_category_product_path(@product.category) %> |
<% end %>

<% if can? :destroy, @product %>
  <%= link_to t(:destroy_product), [@product.category, @product],
             :confirm => 'Are you sure?',
             :method => :delete %> |
<% end %>

<%= link_to t(:back), @product.category %>
