<table>
  <tr>
    <td style="padding-right: 20px;">
<p>
  <h1><%= @product.name %></h1>
</p>

<p>
  <%= raw @product.description %>
</p>

<br />

<p>
  <h2><span class="price"><%= @product.price_from %> - <%= @product.price_to %> $</span></h2>
</p>

<p>
  <% @product.photos.each do |photo| %>
    <%= image_tag photo.data(:medium) %>
  <% end %>
</p>
<br />

<p>
  <%= raw @product.content %>
</p>

<br />

<% if can? :update, @product %>
  <%= link_to t(:edit), edit_category_product_path(@product.category) %> |
<% end %>

<% if can? :destroy, @product %>
  <%= link_to t(:destroy_product), [@product.category, @product],
             :confirm => 'Are you sure?',
             :method => :delete %> |
<% end %>

<%= link_to t(:back), @product.category %>
    </td>
    <td>
    <td width="200px">
      <div class="round fone_round">
        где купить:<br /><br />
        <% @companies.each do |company| %>
          <%= link_to company.name, company %><br />
          <%= raw company.contacts %><br />
        <% end %>
      </div>
    </td>
  </tr>
</table>