<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
</head>

<body>
  <div id="wrapper">
    <header id="header">
      <%= render 'layouts/header' %>
    </header><!-- #header-->
    <%= render 'layouts/menu' %>

    <section id="middle">

      <div id="container">
        <div id="content">
          <div class="round">
            <% flash.each do |key, value| %>
              <%= content_tag(:div, value, :class => "flash #{key}") %>
            <% end %>
          </div>
          <%= yield %>
      	</div><!-- #content-->
      </div><!-- #container-->

      <aside id="sideRight">
        <%= image_tag("resize_240x400.gif", :alt => "Adv", :class => "banner") %>
      </aside><!-- #sideRight -->

    </section><!-- #middle-->

  </div><!-- #wrapper -->
  <footer id="footer">
    <%= render 'layouts/footer' %>
  </footer><!-- #footer -->
</body>
</html>